@{    
    ViewData["Title"] = "Каталог товаров";

}
@model List<FootballStatsApplication.WebUI.Models.LeagueViewModel> 

    <h2>Главная страница</h2>

    <p>Выбранный чемпионат: </p>

    <p><a href="~/Home/ScoreTable">Таблица результатов</a></p>
    <p><a href="~/Home/PrepareToMatch">Подготовка к матчу</a></p>
    <p><a href="~/Home/Settings">Настройки</a></p>
    <p><a href="~/Home/Archive">Архив матчей</a></p>
    <p><a href="~/Home/AddMatch">Добавить новый матч</a></p>
    <p><a href="~/Home/Statistics">Личная статистика</a></p>
    
    

